<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/latest/phpunit.xsd"
        bootstrap="autoload.php"
>

    <testsuites>
        <testsuite name="Serialization">
            <directory phpVersionOperator=">=" phpVersion="7.4">Serialization</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>../src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>

</phpunit>